<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
</head>

<body>
    <h1>Results</h1>
    <h4>Answer 1: <strong>{{resAnswer1}}</strong></h4>
    <h4>Answer 2: <strong>{{resAnswer2}}</strong></h4>
    <h4>Answer 3: <strong>{{resAnswer3}}</strong></h4>
    <h4>Answer 4: <strong>{{resAnswer4}}</strong></h4>

</body>

</html>